In [9]:
import pandas as pd

In [10]:
csv_path = "purchase_data.csv"

In [11]:
purchase_df = pd.read_csv(csv_path)

In [12]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [14]:
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [22]:
#Average Price
average = purchase_df["Price"].mean()
average

3.050987179487176

In [26]:
#Total number of pruchases
purchases = purchase_df["Purchase ID"].count()
purchases

780

In [27]:
#Total Revenue
total_rev = purchase_df["Price"].sum()
total_rev

2379.77

In [29]:
#Male and female players
count_gender = purchase_df["Gender"].value_counts()
count_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [30]:
# Percentages
male_percentage = count_gender["Male"]/purchases
male_percentage

0.8358974358974359

In [31]:
female_percentage = count_gender["Female"]/purchases
female_percentage

0.14487179487179488

In [32]:
other_percentage = count_gender["Other / Non-Disclosed"]/purchases
other_percentage

0.019230769230769232

In [34]:
#data filthering by gender
filter_male = purchase_df.loc[purchase_df["Gender"] == "Male"]
filter_male.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
#PURCHASING ANALYSIS MALE
male_avrg_price = filter_male["Price"].mean()
male_sum_price = filter_male["Price"].sum()
male_avrg_price

3.0178527607361953

In [37]:
male_sum_price

1967.64

In [43]:
#filterfemale
filter_female = purchase_df.loc[purchase_df["Gender"] == "Female"]
filter_female.head()

#PURCHASING ANALYSIS female
female_avrg_price = filter_female["Price"].mean()
female_sum_price = filter_female["Price"].sum()
female_avrg_price

3.203008849557519

In [44]:
female_sum_price

361.94

In [41]:
#filter other
filter_other = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
filter_other.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [45]:


other_avrg_price = filter_other["Price"].mean()
other_sum_price = filter_other["Price"].sum()
other_avrg_price

3.3460000000000005

In [46]:
other_sum_price

50.19

In [48]:
#Bins creation

bins = [0, 11, 15, 19,23,27,31,35,39,43,47,51,55,59]

# Create the names for the four bins
group_names = ["a", "b", "c", "d", "e","f","g","h","i","j","k","l","m"]

purchase_df["clasificacion"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,clasificacion
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,d
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,i
2,2,Ithergue48,24,Male,92,Final Critic,4.88,e
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,e
4,4,Iskosia90,23,Male,131,Fury,1.44,d
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,d
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,d
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,d
778,778,Sisur91,7,Male,101,Final Critic,4.19,a
779,779,Ennrian78,24,Male,50,Dawn,4.60,e

In [50]:
count_class = purchase_df["clasificacion"].value_counts()
count_class

d    298
e    150
c    101
f     60
b     47
g     45
a     39
h     27
i     10
j      3
m      0
l      0
k      0
Name: clasificacion, dtype: int64

In [55]:
purchase_df_2 = purchase_df.groupby("clasificacion")
purchase_df_2.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,clasificacion
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,d
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,i
2,2,Ithergue48,24,Male,92,Final Critic,4.88,e
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,e
4,4,Iskosia90,23,Male,131,Fury,1.44,d
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,d
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,h
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,d
8,8,Undjask33,22,Male,21,Souleater,1.10,d
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,g
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,g
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,f
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,h
23,23,Eyrian71,40,Male,151,Severance,3.40,i
24,24,Siala43,30,Male,141,Persuasion,3.19,f
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,f
26,26,Lirtossa84,11,Male,71,Demise,1.61,a
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,a
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,e
30,30,Idai61,19,Male,140,Striker,2.94,c
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,h
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,a
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,a
34,34,Sondim73,19,Male,160,Azurewrath,4.40,c
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,f
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,a
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,c
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,e
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73,e
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,g
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,g
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,b
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,c
60,60,Yadanu52,34,Male,44,Bonecarvin Battle Axe,2.38,g
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,c
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,f
68,68,Indonmol95,15,Male,27,"Riddle, Tribute of Ended Dreams",3.30,b
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,b
107,107,Tyaerith73,36,Male,99,"Expiration, Warscythe Of Lost Worlds",1.71,h
113,113,Phyali88,15,Female,140,Striker,2.94,b
119,119,Frichosia58,15,Female,87,"Deluge, Edge of the West",4.43,b
127,127,Lisossanya98,37,Male,102,Avenger,3.44,h
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,i
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,i
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,j
341,341,Hiasurria41,41,Male,71,Demise,1.61,i
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,j
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,j

In [59]:
# Find how many rows fall into each bin
print(purchase_df_2["clasificacion"].count())

# Get the average of each column within the GroupBy object
purchase_df_2[["Price"]].mean()

#statistics by bin

clasificacion
a     39
b     47
c    101
d    298
e    150
f     60
g     45
h     27
i     10
j      3
k      0
l      0
m      0
Name: clasificacion, dtype: int64

                  Price
clasificacion
a              3.275641
b              2.932128
c              3.041980
d              3.033020
e              3.063600
f              2.967500
g              2.925778
h              3.542222
i              3.118000
j              2.353333
k                   NaN
l                   NaN
m                   NaN

In [58]:
purchase_df_2[["Price"]].sum()

                Price
clasificacion
a              127.75
b              137.81
c              307.24
d              903.84
e              459.54
f              178.05
g              131.66
h               95.64
i               31.18
j                7.06
k                0.00
l                0.00
m                0.00

In [61]:
purchase_df_2

In [62]:

#top 5 per price
purchase_df_3 = purchase_df.sort_values("Price", ascending=False)
purchase_df_3.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,clasificacion
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,d
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,d
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,e
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,e
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,b

In [65]:
purchase_df_4 = purchase_df.groupby("Item Name")
purchase_df_4.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,clasificacion
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,d
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,i
2,2,Ithergue48,24,Male,92,Final Critic,4.88,e
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,e
4,4,Iskosia90,23,Male,131,Fury,1.44,d
...,...,...,...,...,...,...,...,...
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,c
765,765,Irith83,18,Male,130,Alpha,2.07,c
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,d
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,d
779,779,Ennrian78,24,Male,50,Dawn,4.60,e

In [66]:
print(purchase_df_4["Item ID"].count())

Item Name
Abyssal Shard                      5
Aetherius, Boon of the Blessed     5
Agatha                             6
Alpha                              3
Alpha, Oath of Zeal                3
                                  ..
Wolf                               8
Wolf, Promise of the Moonwalker    6
Worldbreaker                       4
Yearning Crusher                   3
Yearning Mageblade                 5
Name: Item ID, Length: 179, dtype: int64